{% extends "auctions/layout.html" %}

{% block body %}
{% if message%}
  <div class="alert alert-success">
    {{ message }}
  </div>

{% endif %}
<div class="card">
{% for item in items %}
  <img src="https://curie.pnnl.gov/sites/default/files/default_images/default-image_0.jpeg"alt="Product Image" width=100 height=100>
  <div class="card-content">
    <div class="name-price">
      <div class="name">{{item.name}}</div>
      <div class="price">{{item.price}}</div>
    </div>
    <div class="description">
      {{item.description}}
    </div>
    <div class="category">{{item.category}}</div>
  </div>
</div>


{% endfor %}
{% endblock %}
