{% extends 'auctions/layout.html' %}
{% block body %}
    <h1>Create New Listing</h1>
    <form action="{% url 'save_listing' %}" method = "post">
        {% csrf_token %}
        <input type="text" name="item_name" value="" placeholder="Name" required>
        <input type="number" name = "item_price" placeholder="Price" required>
        <input type="name"
               name="item_description"
               value=""
               placeholder="Description"
               required>
        <input type="text" name="item_image" placeholder="Image">
        <input type="text" name="item_category" value="" placeholder="Category">
        <input type="submit">
    </form>
{% endblock %}
